:root {
    --primary-color: #055a05;
    --secondary-color: #f46161;
    --accent1-color: rgb(81, 100, 243);
    --accent2-color: black;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, sans-serif;
}

header {
    background-color: white;
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: black;
    margin: 10px;
}

header,
main,
footer {
    width: 840px;
    margin: 0;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav a {
    text-decoration: none;

}

nav,
p,
section {
    margin: 16px;
    padding: 8px;
}

section h2 {
    text-align: center;
    background-color: var(--accent1-color);
    color: white;
    padding: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.75;
    background-color: var(--accent1-color);
    color: white;
}

.hero article {
    opacity: 0.9;
    color: white;
    position: absolute;
    top: 380px;
    padding-top: 5px;
}

.hero article img {
    float: right;
    width: 125px;
}

footer nav {
    text-align: right;
    padding: 0;
    margin: 0;
}

footer p {
    text-align: center;
}

footer nav img {
    width: 30px;
    height: auto;
}

header img {
    width: 100px;
    height: auto;
}