* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem;
    border: 1px solid rgb(red, green, blue);
    padding: 1rem;
    background-color: #555;
    color: #fff;
}

h1 {
    margin: 0.5rem;
}

form {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0);
    color: #111;
}

code {
    display: block;
    background-color: black;
    color: white;

}

input,
textarea,
select {
    padding: .75rem;
    width: 350px;
}

button {
    background-color: navy;
    color: white;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;

}

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem
}

.quiz-item {
    border: none;
}