* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
    position: relative;
}

nav a {
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 3px;
    box-shadow: 0 0 30px gray;
    float: right;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: black;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
    text-align: center;
    margin-top: 2rem;
}

aside h2 {
    position: absolute;
    left: 90px;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

h1 {
    border-bottom: 2px solid #777;
}

.box a {
    display: block;
    padding: 0.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}